@font-face {
  font-family: imbVga;
  src: url("../webfonts/Web437_IBM_VGA_8x16.woff") format("woff");
}
body {
  font-family: imbVga;
  color: white;
  background-color: black;
}

html, body {
  margin: 0;
  height: 100%;
}

.homeBar {
  margin-top: 0;
  padding-top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 0.5vh solid;
  height: 5vh;
}
.homeBar a {
  display: flex;
  height: 100%;
}
.homeBar a img {
  height: 100%;
  image-rendering: pixelated;
}

#splashScreen {
  display: flex;
  padding: 0.5vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: row;
  height: 40vh;
  width: 80vh;
  border: 0.5vh solid;
}
#splashScreen #headshot {
  height: 100%;
}
#splashScreen #navList {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  padding-top: 0.2vh;
  justify-content: flex-start;
  align-items: center;
}
#splashScreen #navList h1 {
  font-size: 5vh;
  padding: 0;
  margin: 0;
}
#splashScreen #navList #navButtons {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 7%;
}
#splashScreen #navList #navButtons .pinkButton:hover {
  box-shadow: 3px 3px 0 0 black;
  background-color: #ffa4a4;
  margin-left: 3px;
  margin-top: 3px;
  margin-right: 0px;
  margin-bottom: 0px;
}
#splashScreen #navList #navButtons .pinkButton {
  display: flex;
  flex-direction: row;
  background-color: #ffa4a4;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 17%;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 3px 3px 0 0 white;
  margin-right: 3px;
  margin-bottom: 3px;
}
#splashScreen #navList #navButtons .pinkButton a {
  font-size: 4vh;
  color: black;
}
#splashScreen #navList #navButtons .pinkButton a:link {
  color: black;
  text-decoration: none;
}
#splashScreen #navList #navButtons .pinkButton a:hover {
  color: black;
  text-decoration: none;
}
#splashScreen #navList #navButtons .pinkButton a:visited {
  color: black;
  text-decoration: none;
}
#splashScreen #navList #navButtons .pinkButton a:visited:hover {
  color: black;
  text-decoration: none;
}
#splashScreen #navList #navButtons .pinkButton a:active {
  color: black;
  text-decoration: none;
}

.footerBar {
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  top: 100%;
  transform: translate(0%, -100%);
  height: 5vh;
  width: 100%;
  border-top: 0.5vh solid;
}
.footerBar #sourceCode {
  font-size: 2vh;
  display: flex;
  flex-direction: row;
  margin-left: 0.5vw;
}
.footerBar #sourceCode p {
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
  height: 100%;
}
.footerBar #sourceCode a {
  height: 100%;
}
.footerBar #sourceCode a:link, .footerBar #sourceCode a:visited {
  color: #ffa4a4;
}
.footerBar #sourceCode a:hover, .footerBar #sourceCode a:visited:hover, .footerBar #sourceCode a:active {
  color: white;
}
.footerBar #socials {
  display: flex;
  flex-direction: row;
  margin-right: 0.1vw;
  margin-left: auto;
  height: 100%;
}
.footerBar a {
  height: 100%;
}
.footerBar a img {
  height: 100%;
  image-rendering: pixelated;
}

/*# sourceMappingURL=desktop.css.map */
