@font-face {
  font-family: imbVga;
  src: url("../webfonts/Web437_IBM_VGA_8x16.woff") format("woff"); }
body {
  font-family: imbVga;
  color: white;
  background-color: black; }

html, body {
  margin: 0;
  height: 100%; }

@media (max-width: 1100px) {
  .desktop {
    display: none !important; } }

@media (min-width: 1100px) {
  .mobile {
    display: none !important; } }

h1.typed {
  font-size: 40px;
  font-weight: 30;
  margin-left: 10%; }

.homeBar {
  position: fixed;
  overflow: hidden;
  margin-top: 0;
  padding-top: 0;
  top: 0%;
  width: 100%;
  background-color: black;
  display: block;
  border-bottom: 4px solid;
  margin: 0;
  height: 6%;
  padding-bottom: 5px;
  padding-top: 5px; }
  @media (max-width: 1100px) {
    .homeBar {
      height: fit-content; } }
  .homeBar a {
    height: 100%; }
    @media (max-width: 1100px) {
      .homeBar a {
        width: 100%; } }
  .homeBar a img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    image-rendering: pixelated;
    height: 100%; }
    @media (max-width: 1100px) {
      .homeBar a img {
        height: auto;
        width: 90%;
        margin-left: auto;
        margin-right: auto; } }

.footerBar {
  background-color: black;
  display: flex;
  border-top: 4px solid;
  margin: 0;
  height: 6%;
  margin-top: 5px;
  padding-bottom: 5px;
  position: fixed;
  top: 100%;
  transform: translate(0%, -100%);
  flex-direction: row;
  width: 100%; }
  @media (max-width: 1100px) {
    .footerBar {
      flex-direction: column;
      display: block;
      height: fit-content; } }
  .footerBar #sourceCode {
    margin-left: 7px;
    display: flex;
    flex-direction: row;
    font-size: 20px; }
    @media (max-width: 1100px) {
      .footerBar #sourceCode {
        font-size: 2em;
        justify-content: center;
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 10px; } }
    .footerBar #sourceCode p {
      display: flex;
      align-items: center;
      margin-top: 0;
      margin-bottom: 5px; }
    .footerBar #sourceCode a {
      display: flex;
      align-items: center; }
    .footerBar #sourceCode a:link, .footerBar #sourceCode a:visited {
      color: #ffa4a4; }
    .footerBar #sourceCode a:hover, .footerBar #sourceCode a:visited:hover, .footerBar #sourceCode a:active {
      color: white; }
  .footerBar #socials {
    display: block;
    margin-left: auto;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px; }
    @media (max-width: 1100px) {
      .footerBar #socials {
        display: flex;
        justify-content: center;
        height: 120px;
        margin-bottom: 10px; } }
    .footerBar #socials a:hover, .footerBar #socials a:visited:hover, .footerBar #socials a:active, .footerBar #socials a:link, .footerBar #socials a:visited {
      color: black; }
    .footerBar #socials a {
      height: 100%; }
      .footerBar #socials a img {
        height: 100%;
        image-rendering: pixelated; }

#splashScreen {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  width: fit-conten;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  height: 20em;
  border-style: solid;
  border-width: 5px;
  padding: 10px; }
  @media (max-width: 1100px) {
    #splashScreen {
      width: 60%;
      justify-content: center;
      flex-direction: column;
      height: fit-content; } }
  #splashScreen img {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    height: 100%;
    image-rendering: crisp-edges; }
    @media (max-width: 1100px) {
      #splashScreen img {
        width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto; } }
  #splashScreen #navList {
    margin-left: 13px;
    margin-right: 10px;
    display: grid;
    grid-gap: 40px;
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto; }
    @media (max-width: 1100px) {
      #splashScreen #navList {
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        margin-bottom: 40px; } }
  #splashScreen h1 {
    font-size: 40px;
    font-weight: 50;
    text-align: center;
    height: fit-content;
    margin: 0; }
    @media (max-width: 1100px) {
      #splashScreen h1 {
        position: absolute;
        bottom: 102%;
        width: 100%;
        left: 0%;
        font-size: 8vw; } }

#navListMobile {
  display: flex;
  flex-direction: row; }
  #navListMobile img {
    image-rendering: pixelated; }

.pinkButton:hover {
  box-shadow: 3px 3px 0 0 black;
  background-color: #ffa4a4;
  margin-left: 3px;
  margin-top: 3px;
  margin-right: 0px;
  margin-bottom: 0px; }

.pinkButton {
  background-color: #ffa4a4;
  width: inherit;
  height: fit-content;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 3px 3px 0 0 white;
  margin-right: 3px;
  margin-bottom: 3px; }
  .pinkButton a {
    color: black;
    font-size: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    display: block; }
    @media (max-width: 1100px) {
      .pinkButton a {
        font-size: 6vw; } }
  .pinkButton a:link {
    color: black;
    text-decoration: none; }
  .pinkButton a:hover {
    color: black;
    text-decoration: none; }
  .pinkButton a:visited {
    color: black;
    text-decoration: none; }
  .pinkButton a:visited:hover {
    color: black;
    text-decoration: none; }
  .pinkButton a:active {
    color: black;
    text-decoration: none; }

#gallery {
  margin-left: 10%;
  width: 80%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: max-content;
  row-gap: 3%;
  column-gap: 2%; }
  #gallery .polaroid {
    height: max-content;
    display: flex;
    flex-direction: column; }
    #gallery .polaroid p {
      width: inherit;
      text-align: center;
      font-size: 2vw;
      margin-top: 5px;
      margin-bottom: 0; }
    #gallery .polaroid img {
      border-style: solid;
      border-width: 5px;
      padding: 10px;
      width: 100%;
      box-sizing: border-box; }

/*# sourceMappingURL=main.css.map */
