
// What is the best way to position elements with other elements
// What is the difference between a flex and block display
// The buttons should all be the same size



// Color Palate:
$pinkColor: #ffa4a4;
$pinkPressed: #d38787;
$mobileSize: 1100px;

// Font Setup
@font-face {
    font-family: imbVga;
    src: url("../webfonts/Web437_IBM_VGA_8x16.woff") format("woff");
}


body{
    font-family: imbVga;
    //display: flex;
    //align-items: center;
    color: white;
    background-color: black;
}

html, body {
    margin: 0;
    height: 100%;
}

// Mobile and Desktop switching
.desktop{
    @media (max-width: $mobileSize) {
        display: none !important;
    }
}
.mobile{
    @media (min-width: $mobileSize){
        display:none !important;
    }
}

h1.typed{
    font-size: 40px;
    font-weight: 30;
    margin-left: 10%;
}

.homeBar{
    position:fixed;
    overflow: hidden;
    margin-top:0;
    padding-top:0;
    top: 0%;
    width: 100%;
    background-color: black;
    display:block;
    border-bottom: 4px solid;
    margin: 0;
    @media (max-width: $mobileSize) {
        height: fit-content;
    }
    height: 6%;
    padding-bottom: 5px;
    padding-top: 5px;
    a{
        @media (max-width: $mobileSize) {
            width:100%;
        }
        height: 100%
    }
    a{
        img{
            display: block;
            margin-left: auto;
            margin-right: auto;
            image-rendering: pixelated;
            height: 100%;
            @media (max-width: $mobileSize) {
                height: auto;
                width: 90%;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}

.footerBar{
    background-color: black;
    @media (max-width: $mobileSize) {
        flex-direction: column;
        display: block;
        height: fit-content;
    }
    display:flex;
    border-top: 4px solid;
    margin: 0;
    height: 6%;
    margin-top: 5px;
    padding-bottom: 5px;
    position: fixed;
    top: 100%;
    transform: translate(0%,-100%);
    flex-direction: row;
    width: 100%;
    #sourceCode{
        @media (max-width: $mobileSize) {
            font-size: 2em;
            justify-content: center;
            margin-right:0;
            margin-top:0;
            margin-bottom:10px;
        }
        margin-left: 7px;
        display: flex;
        flex-direction:row;
        font-size: 20px;
        p{
            display: flex;
            align-items: center;
            margin-top: 0;
            margin-bottom: 5px;
        }
        a{
            display: flex;
            align-items: center;
        }
        a:link, a:visited{
            color: $pinkColor;
        }
        a:hover, a:visited:hover, a:active{
            color: white;
        }
    }
    #socials{
        @media (max-width: $mobileSize) {
            display: flex;
            justify-content: center;
            height: 120px;
            margin-bottom: 10px;
        }
        display: block;
        margin-left:auto;
        margin-right: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
        // To fix visual bug
        a:hover, a:visited:hover, a:active, a:link, a:visited{
            color: black;
        }
        a{
            height: 100%;
            //height:fit-content;
            img{
                height:100%;
                image-rendering: pixelated;
            }
        }
    }
}

#splashScreen{
    @media (max-width: $mobileSize) {
        width: 60%;
        justify-content: center;
        flex-direction: column;
        height: fit-content;
    }
    position: fixed; 
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    display:flex;
    flex-direction: row;
    width:fit-conten;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    height: 20em;
    border-style: solid;
    border-width: 5px;
    padding: 10px;
    img{
        @media (max-width: $mobileSize){
            width:100%;
            height: auto;
            margin-left:auto;
            margin-right:auto;
        }
        display: block;
        margin-top: auto;
        margin-bottom: auto;
        height: 100%;
        image-rendering: crisp-edges;
    }
    #navList{
        @media (max-width: $mobileSize){
            margin-left: auto;
            margin-right: auto;
            margin-top: 40px;
            margin-bottom: 40px;
        }
        margin-left: 13px;
        margin-right: 10px;
        display: grid;
        grid-gap: 40px;       
        height: fit-content;
        margin-top: auto;
        margin-bottom: auto;
    }
    h1{
        @media (max-width: $mobileSize){
            position:absolute;
            bottom: 102%;
            width:100%;
            left:0%;
            font-size:8vw;
        }
        font-size: 40px;
        font-weight: 50;
        text-align: center;
        height:fit-content;
        margin: 0;
    }
}

#navListMobile{
    display:flex;
    flex-direction: row;
    img{
        image-rendering: pixelated;
    }
}

// Find out how to include this in original declaration
.pinkButton:hover{
    box-shadow: 3px 3px 0 0 black; 
    background-color: $pinkColor;
    //box-shadow: none;
    margin-left: 3px;
    margin-top: 3px;
    margin-right: 0px;
    margin-bottom: 0px;
}

.pinkButton{
    background-color: $pinkColor;
    width:inherit;
    height:fit-content;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 3px 3px 0 0 white; 
    margin-right: 3px;
    margin-bottom: 3px;
    a{
        @media (max-width: $mobileSize){
            font-size:6vw;
        }
        color: black;
        font-size: 30px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        //height: fit-content;
        display:block;
    }
    a:link{
        color: black;
        text-decoration: none;
    }
    a:hover{
        color: black;
        text-decoration: none;
    }
    a:visited{
        color: black;
        text-decoration: none;
    }
    a:visited:hover{
        color: black;
        text-decoration: none;
    }
    a:active{
        color: black;
        text-decoration: none;
    }
}

#gallery{
    margin-left: 10%;
    width:80%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: max-content;
    row-gap: 3%;
    column-gap: 2%;
    .polaroid{
        // width: 100%;
        height: max-content;
        display: flex;
        flex-direction: column;
            p {
            width:inherit;
            text-align: center;
            font-size: 2vw;
            margin-top: 5px;
            margin-bottom: 0;
        }
        img{
            //width: min-content;     
            border-style: solid;
            border-width: 5px;
            padding: 10px;
            width: 100%;
            box-sizing: border-box;
        }
    }
}