@font-face {
  font-family: imbVga;
  src: url("../webfonts/Web437_IBM_VGA_8x16.woff") format("woff");
}
#loading {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  background-color: black;
  z-index: 99;
}

body {
  font-family: imbVga;
  color: white;
  background-color: black;
}

html, body {
  margin: 0;
  height: 100%;
}

.homeBar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  padding-top: 0;
  width: 100%;
  height: fit-content;
  border-bottom: 0.2em solid;
}
.homeBar a {
  display: flex;
  width: 90%;
  height: 100%;
}
.homeBar a img {
  width: 100%;
  image-rendering: pixelated;
}

#splashScreen {
  display: flex;
  padding: 0.5vw;
  position: fixed;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -54%);
  flex-direction: column;
  height: fit-content;
  width: 40vh;
  max-width: 90vw;
  border: 0.2em solid;
}
#splashScreen #headshot {
  width: 100%;
}
#splashScreen h1 {
  position: absolute;
  bottom: 100%;
  width: 100%;
  left: 0%;
  text-align: center;
  font-size: 9vw;
  margin-bottom: 0;
}
#splashScreen #navListMobile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#splashScreen #navListMobile #navListDec {
  display: flex;
  width: 10%;
  margin: 0.5vh;
  flex-direction: column;
  gap: 2vh;
}
#splashScreen #navListMobile #navListDec img {
  image-rendering: pixelated;
  width: 100%;
}
#splashScreen #navList {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-bottom: 1vh;
  padding-left: 1vh;
  padding-right: 1vh;
  gap: 1vh;
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
}
#splashScreen #navList .pinkButton:hover {
  box-shadow: 3px 3px 0 0 black;
  background-color: #ffa4a4;
  margin-left: 3px;
  margin-top: 3px;
  margin-right: 0px;
  margin-bottom: 0px;
}
#splashScreen #navList .pinkButton {
  background-color: #ffa4a4;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 4vh;
  box-shadow: 3px 3px 0 0 white;
  margin-right: 3px;
  margin-bottom: 3px;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
}
@media (max-width: 300px) {
  #splashScreen #navList .pinkButton {
    font-size: 10vw;
  }
}
#splashScreen #navList .pinkButton a {
  color: black;
  width: 100%;
  text-align: center;
}
#splashScreen #navList .pinkButton a:link {
  color: black;
  text-decoration: none;
}
#splashScreen #navList .pinkButton a:hover {
  color: black;
  text-decoration: none;
}
#splashScreen #navList .pinkButton a:visited {
  color: black;
  text-decoration: none;
}
#splashScreen #navList .pinkButton a:visited:hover {
  color: black;
  text-decoration: none;
}
#splashScreen #navList .pinkButton a:active {
  color: black;
  text-decoration: none;
}

.footerBar {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: fixed;
  top: 100%;
  height: fit-content;
  transform: translate(0%, -100%);
  border-top: 0.2em solid;
}
.footerBar #sourceCode {
  font-size: 5vw;
  display: flex;
  flex-direction: row;
  margin-left: 0.5vh;
  margin-top: 0.5vh;
  margin-bottom: 0;
}
.footerBar #sourceCode p {
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
  height: 100%;
}
.footerBar #sourceCode a {
  height: 100%;
}
.footerBar #sourceCode a:link, .footerBar #sourceCode a:visited {
  color: #ffa4a4;
}
.footerBar #sourceCode a:hover, .footerBar #sourceCode a:visited:hover, .footerBar #sourceCode a:active {
  color: white;
}
.footerBar #socials {
  display: flex;
  flex-direction: row;
  height: 5vh;
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
}
@media (max-width: 300px) {
  .footerBar #socials {
    height: 10vw;
  }
}
.footerBar a {
  height: 100%;
}
.footerBar a img {
  height: 100%;
  image-rendering: pixelated;
}

#fancyHeader {
  margin-top: 2vh;
  display: flex;
  flex-direction: row;
  width: fit-content;
  margin-right: auto;
  gap: 2vw;
}
#fancyHeader img {
  width: 5vw;
  height: 5vw;
  image-rendering: pixelated;
}

h1 {
  font-size: 9vw;
  margin-top: 1vh;
  margin-bottom: 1vh;
  width: 100%;
}

.content {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: fit-content;
  flex-direction: column;
}
.content #gallery {
  display: grid;
  grid-template-columns: repeat(2, 40vw);
  column-gap: 2vw;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.content #gallery .polaroid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.content #gallery .polaroid img {
  width: 90%;
  padding: 1vw;
  border: 0.2em solid;
  margin-bottom: 5px;
  margin-left: 5px;
}
.content #gallery .polaroid img:hover {
  margin-bottom: 0px;
  margin-left: 0px;
  margin-top: 5px;
  margin-right: 5px;
}
.content #gallery .polaroid p {
  margin-top: 0.5vh;
  font-size: 4vw;
  margin-left: 5px;
  width: 100%;
  text-align: center;
}
.content #gallery a:link {
  color: white;
  text-decoration: none;
}
.content #gallery a:hover {
  color: white;
  text-decoration: none;
}
.content #gallery a:visited {
  color: white;
  text-decoration: none;
}
.content #gallery a:visited:hover {
  color: white;
  text-decoration: none;
}
.content #gallery a:active {
  color: white;
  text-decoration: none;
}

.description {
  display: flex;
  width: 90vw;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  align-items: center;
}
.description #video {
  display: flex;
  width: 100%;
  align-items: center;
  margin-top: 2vh;
  margin-bottom: 2vh;
}
.description #video iframe {
  width: 70vw;
  height: 39vw;
}
.description #video img {
  flex-grow: 1;
  image-rendering: pixelated;
  margin: 2vw;
}
.description #intro {
  font-size: 4.5vw;
}
.description p {
  text-align: left;
  font-size: 4vw;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
}
.description ul {
  text-align: left;
  font-size: 4vw;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  padding-left: 5vw;
}
.description .pinkP {
  color: #ffa4a4;
}
.description #multiPhotos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1vh;
  margin-bottom: 1vh;
}
.description #multiPhotos img {
  padding: 1vw;
  border: 0.2em solid;
  margin: 1vh;
}
.description .polaroid {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 2vh;
  margin-bottom: 2vh;
}
.description .polaroid img {
  padding: 1vw;
  border: 0.2em solid;
}
.description .polaroid p {
  width: 100%;
  margin-top: 0.5vh;
  text-align: center;
  color: #ffa4a4;
}

/*# sourceMappingURL=mobile.css.map */
