// Font Setup
@font-face {
  font-family: imbVga;
  src: url("../webfonts/Web437_IBM_VGA_8x16.woff") format("woff");
}

$mobileBorder: 0.2em solid;

// Global Background and Font
body {
  font-family: imbVga;
  color: white;
  background-color: blue;
}

// Fill the Whole Page
html, body {
  margin: 0;
  height: 100%;
}

// Homebar
.homeBar {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 0;
	padding-top: 0;
	width: 100%;
	height: fit-content;
	border-bottom: $mobileBorder;
	// Link
	a{
		display: flex;
		width: 100%;
		height: 100%;
		// Title Image
		img {
			width: 100%;
			image-rendering: pixelated;
		}
	}
}


